

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "h h h"
    "a a as"
    "f f f";
    
}
    article{
        grid-area: a;

    }

    aside{
        grid-area: as;
        border:  2px solid black;
    }
        
    

section {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}
.kutya{
    border: solid 1px black;
    padding-top: 20px;
}
header {
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.kutyusKepek{
    width: 184px;
    height: 184px;
    border: solid 3px black;
}
footer{
    grid-area: f;

}

@media screen and (max-width: 1400px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'h h'
        'a as'
        'f f' ;
    }
    
    section {
        grid-template-columns: 1fr 1fr;
    }
    }
    @media screen and (max-width: 700px) {
        main {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            'h h'
            'a as'
            'f f' ;
        }
        
        section {
            grid-template-columns: 1fr;
        }
    }
